/* You can add global styles to this file, and also import other style files */
body.home-page {
  background-image: url('assets/images/Teal\ and\ white\ ribbon\ awareness\ Cervical\ Cancer_\ Isolated\ on\ white\ background.\ Vector\ \ illustration');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}